{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Password change{% endblock %}
{% block header %} 
    <h2>Password change</h2>
{% endblock %}

{% block main_content %}
<div class="span9">

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form id='change-password' method='post' class='form-horizontal'>
        <fieldset>
            {% csrf_token %}
            <table class='table table-striped table-bordered table-hover '>
                {{ form }}
            </table>
            <p>
                <input class='btn btn-primary' type='submit' value='Reset my password'/>
            </p>
        </fieldset>
    </form>
</div>
{% endblock %}