{% extends 'baseaccount.html' %}
{% block title %}My profile{% endblock %}
{% block header %} 
	<h2>My profile</h2>
{% endblock %}

{% block main_content %}
<div class="span9">
    <form id='create-ad' method='post' class='form-horizontal'>
        <fieldset>
            {% csrf_token %}
            <table class='table table-striped table-bordered table-hover '>
                {{ formset }}
            </table>
            <p>
                <input class='btn btn-primary' type='submit' value='Update profile'/>
                <a class='btn' href='/accounts/password/change/'/>Change my password</a>
                <a class='btn' href='/accounts/profile/classifieds'/>View my classifieds</a>
            </p>
        </fieldset>
    </form>
</div>
{% endblock %}