{% extends 'baseads.html' %}
{% block title %}Ads list{% endblock %}
{% block header %} 
    <h2>Listing</h2>
    <p class="big grey">
      {% if request.GET.search %}
        Looking up classifieds for "{{ request.GET.search }}"
      {% else %}
        Look up classifieds
      {% endif %}
    </p>
{% endblock %}
{% block main_content %}
<div class="span3">
  {% include 'ads/left_side_bar.html' %}
</div>
<div class="span9">
  <div class="row-fluid">
    <ul class="thumbnails">
      <div class="span12">
        {% for classified in classifieds %}
          {% include 'ads/list_item.html' %}
        {% endfor %}
      </div>
    </ul>
    {% include 'misc/classifieds/pagination.html' %}
  </div>
</div>
{% endblock %}