{% extends 'baseads.html' %}
{% block title %}My Ads list{% endblock %}
{% block header %} 
    <h2>My classifieds list</h2>
{% endblock %}


{% block main_content %}
<div class="span9">
  <ul class="thumbnails">
  {% for classified in classifieds %}
    <li class="span3">
      <div class="thumbnail" style="padding: 0">
        <a href='/ads/{{ classified.permalink }}'>
          <img src="/uploads/{{ classified.image_1 }}" alt="{{ classified.title }}" />
        </a>
        <div class="caption">
          <h4><a href='/ads/{{ classified.permalink }}'>{{ classified.title }}sa</a></h4>
          <p>{{ classified.content|slice:":200"  }}...</p>
          <p><i class="icon icon-map-marker"></i> {{ classified.city }}, {{ classified.city.province }}</p>
        </div>
        <div class="modal-footer" style="text-align: center; padding:8px">  
          <span><b>${{ classified.price }}</b> {{ classified.get_currency_display }}</span>
          <span> - <b>223{{ classified.visits }}</b> Visits</span>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
  {% include 'ads/pagination.html' %}
</div>
{% endblock %}