{% extends 'baseads.html' %}
{% block title %}{{ classified }}{% endblock %}
{% block header %} 
    <h2>{{ classified }}</h2>
{% endblock %}

{% block main_content %}
<div class="span8">  
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {% if classified.image_1 %}<div class="active item"><img src="{{MEDIA_URL}}{{ classified.image_1_thumbs.thumb620x410 }}" alt="" /></div>{% endif %}
        {% if classified.image_2 %}<div class="item"><img src="{{MEDIA_URL}}{{ classified.image_2_thumbs.thumb620x410 }}" alt="" /></div>{% endif %}
        {% if classified.image_3 %}<div class="item"><img src="{{MEDIA_URL}}{{ classified.image_3_thumbs.thumb620x410 }}" alt="" /></div>{% endif %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
 </div>                        
 <div class="span4"> 
    <div class="prdetails well">
       <h5 class="title">Contact Info</h5>
       <hr />
       <ul>
          <li><strong>Location: </strong>{{ classified.city }}</li>
          <li><strong>Phone: </strong>{{ classified.contact_phone }}</li>
          <li><strong>Email: </strong>{{ classified.contact_email }}</li>
          <li><strong>Name: </strong>{{ classified.contact_name }}</li>
          <li><strong>User: </strong>{{ classified.user }}</li>
          <li><strong>Map: </strong>{{ classified.google_map }}</li>
          <li><strong>Visits: </strong>{{ classified.visits }}</li>
       </ul>
       <hr />
       <!-- Buttons -->
        <a href="/ads/{{ classified.id }}/contact" class="btn btn-info">Contact seller</a>
        <a href="/ads/edit/{{ classified.id }}" class="btn btn-primary">Edit</a>
        <a href="/ads/delete/{{ classified.id }}" class="btn btn-danger">Delete</a>
    </div>
 </div>

 <div class="span12">
  <div class="bor"></div>
  <div class="well">
    <p>{{ classified.content }}</p>
  </div>
    <div class=" well related-projects">
      <!-- Title -->
      <h5 class="title">Details</h5>
       <hr />
       <ul>
          <li><strong>Category: </strong>{{ classified.category }}</li>
          <li><strong>Status: </strong>{{ classified.status }}</li>
          <li><strong>Currency: </strong>{{ classified.currency }}</li>
          <li><strong>Price: </strong>{{ classified.price }}</li>
          <li><strong>Created: </strong>{{ classified.created }}</li>
          <li><strong>Expires: </strong>{{ classified.expires }}</li>
       </ul>
       <hr />
       <h5 class="title">Related items</h5>              
      {% for classified in latestClassifieds %}
        <a href="/ads/{{ classified.permalink }}"><img src="/uploads/{{ classified.image_1_thumbs.thumb150x110 }}" alt="" /></a>
      {% endfor %}
    </div>
  <div class="bor"></div>
 </div>

 


{% endblock %}