{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Farmzone &mdash; Social Marketplace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery-ui.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap-datepicker.css' %} ">

    <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/aos.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/rangeslider.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">

</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar container py-0 bg-white" role="banner">

        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">Farm<span
                        class="text-primary">Zone</span> </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="listings.html">Marketplace</a></li>
                        <li><a href="about.html">About Farmzone</a></li>
                        <li><a href="forum.html">Forum</a></li>
                        <li><a href="contact.html">Contact</a></li>

                        <li class="ml-xl-3 login"><a href="login.html"><span class="border-left pl-xl-4"></span>Log
                            In</a></li>
                        <li><a href="register.html">Register</a></li>

                        <li><a href="#" class="cta"><span
                                class="bg-primary text-white rounded">+ Sell an Item/Service</span></a></li>
                    </ul>
                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
            </div>

        </div>

    </header>


    <div class="site-blocks-cover inner-page-cover overlay"
         style="background-image: url( {% static 'images/hero_2-1.jpg' %} );" data-aos="fade"
         data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


                    <div class="row justify-content-center mt-5">
                        <div class="col-md-8 text-center">
                            <h1>Welcome to the Farmzone</h1>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="row">

					<!--Login and account stuff here-->
					{% block main_content %}{% endblock %}
							</div>
						  <div class="border"></div>
                    
                </div>
                
            </div>
        </div>
    </div>
    
	<footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        
                    </div>
                </div>
              </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>

                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved<a href="#" target="_blank"> Farmzone - Team 168</a>

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>

<script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
<script src=" {% static 'js/jquery-migrate-3.0.1.min.js' %} "></script>
<script src=" {% static 'js/jquery-ui.js' %} "></script>
<script src=" {% static 'js/popper.min.js' %} "></script>
<script src=" {% static 'js/bootstrap.min.js' %} "></script>
<script src=" {% static 'js/owl.carousel.min.js' %} "></script>
<script src=" {% static 'js/jquery.stellar.min.js' %} "></script>
<script src=" {% static 'js/jquery.countdown.min.js' %} "></script>
<script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
<script src=" {% static 'js/bootstrap-datepicker.min.js' %} "></script>
<script src=" {% static 'js/aos.js' %} "></script>
<script src=" {% static 'js/rangeslider.min.js' %} "></script>

<script src=" {% static 'js/main.js' %} "></script>

<script src=" {% static 'js/jquery.isotope.js"></script> <!-- Isotope for gallery -->
<script src=" {% static 'js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src=" {% static 'js/jquery.cslider.js"></script> <!-- Parallax slider -->
<script src=" {% static 'js/modernizr.custom.28468.js"></script>
<script src=" {% static 'js/filter.js"></script> <!-- Filter for support page -->
<script src=" {% static 'js/cycle.js"></script> <!-- Cycle slider -->
<script src=" {% static 'js/jquery.flexslider-min.js"></script> <!-- Flex slider -->
<script src=" {% static 'js/easing.js"></script> <!-- Easing -->

	</body>
</html>