<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pricing Table | Triangle</title>
    <link href="../multicolor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../multicolor/css/font-awesome.min.css" rel="stylesheet">
    <link href="../multicolor/css/prettyPhoto.css" rel="stylesheet"> 
    <link href="../multicolor/css/animate.min.css" rel="stylesheet"> 
	<link href="../multicolor/css/main.css" rel="stylesheet">
	<link href="../multicolor/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="../multicolor/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../multicolor/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../multicolor/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../multicolor/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../multicolor/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="../multicolor/index.html">
                    	<h1>PLATFORM NAME</h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../multicolor/index.html">Home</a></li>
                        <li><a href="../multicolor/aboutus.html">ABOUT&nbsp; </a>                        </li>                    
                        <li><a href="../multicolor/marketplace.html">MARKETPLACE&nbsp; </a>                      </li>
                        <li><a href="../multicolor/community.html">COMMUNITY&nbsp; </a>                        </li>                         
                        <li class="active"><a href="../multicolor/pricing.html">COMMODITY PRICING</a></li>                    
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

   <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Pricing Table</h1>
                            <p>configure your pricing table</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section class="container">        
        <div class="price-table"> </div><!--/#price-table-->
    </section>

    <section class="container">
<div class="row">
      <table cellpadding="1" cellspacing="1">
<tr>
	<th>Number</th>
	<th>Name</th>
	<th>Market Price</th>
	<th>Platform Price</th>
</tr>
<tr>
	<td>1</td>
	<td>blandit viverra. Donec tempus,</td>
	<td>22 197</td>
	<td>37 081</td>
</tr>
<tr>
	<td>2</td>
	<td>malesuada vel, venenatis vel, faucibus id,</td>
	<td>7 917</td>
	<td>52 218</td>
</tr>
<tr>
	<td>3</td>
	<td>id, mollis</td>
	<td>84 529</td>
	<td>86 699</td>
</tr>
<tr>
	<td>4</td>
	<td>a nunc.</td>
	<td>61 454</td>
	<td>18 586</td>
</tr>
<tr>
	<td>5</td>
	<td>enim, sit amet ornare lectus justo eu</td>
	<td>24 602</td>
	<td>28 137</td>
</tr>
<tr>
	<td>6</td>
	<td>pede. Cras vulputate velit</td>
	<td>46 372</td>
	<td>75 881</td>
</tr>
<tr>
	<td>7</td>
	<td>iaculis aliquet</td>
	<td>9 741</td>
	<td>59 686</td>
</tr>
<tr>
	<td>8</td>
	<td>quis,</td>
	<td>62 281</td>
	<td>28 146</td>
</tr>
<tr>
	<td>9</td>
	<td>Cras interdum. Nunc sollicitudin commodo ipsum.</td>
	<td>61 787</td>
	<td>33 762</td>
</tr>
<tr>
	<td>10</td>
	<td>ipsum leo elementum</td>
	<td>91 168</td>
	<td>49 855</td>
</tr>
<tr>
	<td>11</td>
	<td>et, euismod et, commodo at, libero. Morbi accumsan laoreet</td>
	<td>67 992</td>
	<td>95 937</td>
</tr>
<tr>
	<td>12</td>
	<td>malesuada fames ac turpis egestas. Fusce aliquet magna a</td>
	<td>56 320</td>
	<td>99 393</td>
</tr>
<tr>
	<td>13</td>
	<td>eu arcu.</td>
	<td>99 624</td>
	<td>29 840</td>
</tr>
<tr>
	<td>14</td>
	<td>turpis egestas. Aliquam fringilla cursus</td>
	<td>78 775</td>
	<td>61 935</td>
</tr>
<tr>
	<td>15</td>
	<td>pellentesque a, facilisis non, bibendum sed, est.</td>
	<td>0 305</td>
	<td>91 165</td>
</tr>
<tr>
	<td>16</td>
	<td>risus. Nulla eget metus</td>
	<td>13 730</td>
	<td>51 010</td>
</tr>
<tr>
	<td>17</td>
	<td>gravida mauris ut mi. Duis risus odio, auctor</td>
	<td>0 147</td>
	<td>91 348</td>
</tr>
<tr>
	<td>18</td>
	<td>In tincidunt congue turpis. In condimentum. Donec at arcu. Vestibulum</td>
	<td>54 371</td>
	<td>33 811</td>
</tr>
<tr>
	<td>19</td>
	<td>tincidunt pede ac urna. Ut tincidunt vehicula risus. Nulla</td>
	<td>13 662</td>
	<td>0 337</td>
</tr>
<tr>
	<td>20</td>
	<td>Proin velit. Sed malesuada augue</td>
	<td>78 184</td>
	<td>98 414</td>
</tr>
<tr>
	<td>21</td>
	<td>aliquam adipiscing lacus. Ut nec urna et arcu</td>
	<td>99 455</td>
	<td>35 943</td>
</tr>
<tr>
	<td>22</td>
	<td>ac, feugiat non, lobortis quis, pede. Suspendisse</td>
	<td>74 535</td>
	<td>67 343</td>
</tr>
<tr>
	<td>23</td>
	<td>eros nec tellus. Nunc lectus pede, ultrices a, auctor</td>
	<td>97 330</td>
	<td>30 258</td>
</tr>
<tr>
	<td>24</td>
	<td>lacinia mattis. Integer eu lacus. Quisque imperdiet,</td>
	<td>84 953</td>
	<td>76 540</td>
</tr>
<tr>
	<td>25</td>
	<td>auctor. Mauris</td>
	<td>58 600</td>
	<td>73 035</td>
</tr>
<tr>
	<td>26</td>
	<td>placerat eget, venenatis a, magna. Lorem ipsum dolor sit</td>
	<td>56 277</td>
	<td>52 741</td>
</tr>
<tr>
	<td>27</td>
	<td>commodo at, libero. Morbi accumsan laoreet ipsum. Curabitur</td>
	<td>56 744</td>
	<td>92 219</td>
</tr>
<tr>
	<td>28</td>
	<td>a, scelerisque sed, sapien. Nunc</td>
	<td>43 682</td>
	<td>32 364</td>
</tr>
<tr>
	<td>29</td>
	<td>vestibulum nec, euismod in, dolor. Fusce</td>
	<td>71 862</td>
	<td>42 199</td>
</tr>
<tr>
	<td>30</td>
	<td>dolor. Donec fringilla. Donec</td>
	<td>84 843</td>
	<td>13 563</td>
</tr>
<tr>
	<td>31</td>
	<td>non quam. Pellentesque</td>
	<td>1 877</td>
	<td>17 242</td>
</tr>
<tr>
	<td>32</td>
	<td>mi pede, nonummy ut, molestie in, tempus eu, ligula. Aenean</td>
	<td>93 397</td>
	<td>68 576</td>
</tr>
<tr>
	<td>33</td>
	<td>semper</td>
	<td>14 180</td>
	<td>75 676</td>
</tr>
<tr>
	<td>34</td>
	<td>ipsum. Phasellus vitae mauris sit amet</td>
	<td>65 281</td>
	<td>34 832</td>
</tr>
<tr>
	<td>35</td>
	<td>blandit</td>
	<td>87 183</td>
	<td>44 314</td>
</tr>
<tr>
	<td>36</td>
	<td>mauris. Suspendisse aliquet molestie tellus. Aenean egestas hendrerit neque.</td>
	<td>67 375</td>
	<td>2 758</td>
</tr>
<tr>
	<td>37</td>
	<td>ad litora torquent per conubia nostra, per inceptos</td>
	<td>40 099</td>
	<td>75 438</td>
</tr>
<tr>
	<td>38</td>
	<td>vitae, posuere at,</td>
	<td>76 314</td>
	<td>91 277</td>
</tr>
<tr>
	<td>39</td>
	<td>Duis volutpat nunc sit amet metus.</td>
	<td>32 624</td>
	<td>55 008</td>
</tr>
<tr>
	<td>40</td>
	<td>Nullam ut nisi a odio</td>
	<td>97 678</td>
	<td>27 614</td>
</tr>
<tr>
	<td>41</td>
	<td>Aliquam erat volutpat. Nulla dignissim. Maecenas ornare egestas ligula. Nullam</td>
	<td>44 090</td>
	<td>92 614</td>
</tr>
<tr>
	<td>42</td>
	<td>lobortis quis, pede. Suspendisse dui. Fusce</td>
	<td>84 258</td>
	<td>40 776</td>
</tr>
<tr>
	<td>43</td>
	<td>nec, cursus a, enim. Suspendisse</td>
	<td>45 005</td>
	<td>87 226</td>
</tr>
<tr>
	<td>44</td>
	<td>ornare, elit elit fermentum risus, at fringilla purus mauris a</td>
	<td>63 513</td>
	<td>56 455</td>
</tr>
<tr>
	<td>45</td>
	<td>ac tellus. Suspendisse sed dolor.</td>
	<td>16 065</td>
	<td>68 436</td>
</tr>
<tr>
	<td>46</td>
	<td>nec urna et arcu imperdiet</td>
	<td>2 640</td>
	<td>44 396</td>
</tr>
<tr>
	<td>47</td>
	<td>a</td>
	<td>47 769</td>
	<td>81 656</td>
</tr>
<tr>
	<td>48</td>
	<td>scelerisque dui. Suspendisse ac metus vitae velit</td>
	<td>72 205</td>
	<td>15 854</td>
</tr>
<tr>
	<td>49</td>
	<td>massa</td>
	<td>44 428</td>
	<td>35 426</td>
</tr>
<tr>
	<td>50</td>
	<td>scelerisque neque. Nullam nisl. Maecenas malesuada fringilla</td>
	<td>64 294</td>
	<td>8 889</td>
</tr>
<tr>
	<td>51</td>
	<td>Phasellus libero mauris, aliquam eu, accumsan</td>
	<td>25 240</td>
	<td>76 347</td>
</tr>
<tr>
	<td>52</td>
	<td>lacus. Cras interdum. Nunc sollicitudin commodo ipsum. Suspendisse</td>
	<td>96 749</td>
	<td>77 408</td>
</tr>
<tr>
	<td>53</td>
	<td>fermentum risus, at fringilla purus mauris a nunc. In</td>
	<td>54 304</td>
	<td>28 094</td>
</tr>
<tr>
	<td>54</td>
	<td>varius</td>
	<td>83 230</td>
	<td>74 810</td>
</tr>
<tr>
	<td>55</td>
	<td>dolor egestas rhoncus. Proin nisl sem, consequat nec,</td>
	<td>83 394</td>
	<td>51 002</td>
</tr>
<tr>
	<td>56</td>
	<td>Proin</td>
	<td>32 011</td>
	<td>11 751</td>
</tr>
<tr>
	<td>57</td>
	<td>Pellentesque habitant morbi tristique senectus</td>
	<td>1 005</td>
	<td>79 379</td>
</tr>
<tr>
	<td>58</td>
	<td>pharetra nibh. Aliquam ornare,</td>
	<td>17 576</td>
	<td>32 702</td>
</tr>
<tr>
	<td>59</td>
	<td>molestie pharetra nibh. Aliquam</td>
	<td>14 563</td>
	<td>75 970</td>
</tr>
<tr>
	<td>60</td>
	<td>at lacus. Quisque purus sapien, gravida non, sollicitudin a,</td>
	<td>94 900</td>
	<td>10 965</td>
</tr>
<tr>
	<td>61</td>
	<td>Cum</td>
	<td>59 107</td>
	<td>61 807</td>
</tr>
<tr>
	<td>62</td>
	<td>ultricies ornare, elit elit fermentum</td>
	<td>92 079</td>
	<td>12 950</td>
</tr>
<tr>
	<td>63</td>
	<td>et nunc. Quisque ornare tortor at</td>
	<td>53 566</td>
	<td>70 837</td>
</tr>
<tr>
	<td>64</td>
	<td>iaculis odio.</td>
	<td>35 112</td>
	<td>97 303</td>
</tr>
<tr>
	<td>65</td>
	<td>quam, elementum at,</td>
	<td>77 945</td>
	<td>23 482</td>
</tr>
<tr>
	<td>66</td>
	<td>metus.</td>
	<td>23 363</td>
	<td>77 259</td>
</tr>
<tr>
	<td>67</td>
	<td>lorem ut aliquam iaculis, lacus pede sagittis</td>
	<td>49 709</td>
	<td>28 338</td>
</tr>
<tr>
	<td>68</td>
	<td>velit egestas</td>
	<td>78 760</td>
	<td>60 041</td>
</tr>
<tr>
	<td>69</td>
	<td>non</td>
	<td>72 353</td>
	<td>92 408</td>
</tr>
<tr>
	<td>70</td>
	<td>orci. Donec nibh. Quisque nonummy ipsum non arcu.</td>
	<td>63 640</td>
	<td>20 119</td>
</tr>
<tr>
	<td>71</td>
	<td>lacus, varius</td>
	<td>36 237</td>
	<td>48 890</td>
</tr>
<tr>
	<td>72</td>
	<td>et, commodo at,</td>
	<td>77 540</td>
	<td>98 637</td>
</tr>
<tr>
	<td>73</td>
	<td>eget nisi dictum augue malesuada malesuada. Integer id magna</td>
	<td>19 285</td>
	<td>99 339</td>
</tr>
<tr>
	<td>74</td>
	<td>leo. Cras vehicula aliquet libero. Integer in magna. Phasellus dolor</td>
	<td>62 394</td>
	<td>52 597</td>
</tr>
<tr>
	<td>75</td>
	<td>Curabitur dictum. Phasellus in felis. Nulla tempor augue ac</td>
	<td>53 741</td>
	<td>65 556</td>
</tr>
<tr>
	<td>76</td>
	<td>metus. Aenean sed pede nec</td>
	<td>7 416</td>
	<td>72 114</td>
</tr>
<tr>
	<td>77</td>
	<td>ornare tortor</td>
	<td>47 304</td>
	<td>0 063</td>
</tr>
<tr>
	<td>78</td>
	<td>aliquet. Proin velit. Sed malesuada augue ut lacus. Nulla tincidunt,</td>
	<td>2 095</td>
	<td>52 375</td>
</tr>
<tr>
	<td>79</td>
	<td>tristique pellentesque, tellus sem mollis dui, in sodales</td>
	<td>38 287</td>
	<td>68 081</td>
</tr>
<tr>
	<td>80</td>
	<td>Nulla aliquet. Proin velit. Sed malesuada augue ut</td>
	<td>48 207</td>
	<td>15 837</td>
</tr>
<tr>
	<td>81</td>
	<td>Integer</td>
	<td>17 213</td>
	<td>44 432</td>
</tr>
<tr>
	<td>82</td>
	<td>convallis,</td>
	<td>78 743</td>
	<td>43 035</td>
</tr>
<tr>
	<td>83</td>
	<td>egestas. Sed pharetra,</td>
	<td>51 051</td>
	<td>56 460</td>
</tr>
<tr>
	<td>84</td>
	<td>id enim. Curabitur massa. Vestibulum</td>
	<td>3 292</td>
	<td>18 970</td>
</tr>
<tr>
	<td>85</td>
	<td>feugiat placerat velit. Quisque varius. Nam porttitor scelerisque</td>
	<td>95 198</td>
	<td>11 662</td>
</tr>
<tr>
	<td>86</td>
	<td>mauris. Morbi</td>
	<td>17 563</td>
	<td>91 826</td>
</tr>
<tr>
	<td>87</td>
	<td>erat neque non quam. Pellentesque habitant morbi tristique senectus</td>
	<td>22 249</td>
	<td>28 517</td>
</tr>
<tr>
	<td>88</td>
	<td>dictum. Phasellus in felis. Nulla tempor augue ac ipsum. Phasellus</td>
	<td>0 644</td>
	<td>64 699</td>
</tr>
<tr>
	<td>89</td>
	<td>venenatis lacus. Etiam bibendum fermentum metus. Aenean sed pede</td>
	<td>82 588</td>
	<td>77 867</td>
</tr>
<tr>
	<td>90</td>
	<td>senectus et netus et malesuada fames</td>
	<td>10 056</td>
	<td>93 232</td>
</tr>
<tr>
	<td>91</td>
	<td>vehicula. Pellentesque tincidunt tempus risus. Donec egestas. Duis</td>
	<td>87 635</td>
	<td>38 163</td>
</tr>
<tr>
	<td>92</td>
	<td>quam vel sapien imperdiet ornare. In faucibus. Morbi vehicula. Pellentesque</td>
	<td>80 743</td>
	<td>33 567</td>
</tr>
<tr>
	<td>93</td>
	<td>lacus. Quisque purus sapien, gravida non, sollicitudin</td>
	<td>54 105</td>
	<td>23 493</td>
</tr>
<tr>
	<td>94</td>
	<td>id enim. Curabitur massa. Vestibulum accumsan neque et</td>
	<td>73 003</td>
	<td>46 697</td>
</tr>
<tr>
	<td>95</td>
	<td>In mi pede, nonummy ut,</td>
	<td>2 550</td>
	<td>57 315</td>
</tr>
<tr>
	<td>96</td>
	<td>purus sapien, gravida non, sollicitudin a, malesuada id, erat.</td>
	<td>45 101</td>
	<td>53 156</td>
</tr>
<tr>
	<td>97</td>
	<td>erat neque</td>
	<td>42 580</td>
	<td>35 100</td>
</tr>
<tr>
	<td>98</td>
	<td>senectus et netus et</td>
	<td>50 924</td>
	<td>67 550</td>
</tr>
<tr>
	<td>99</td>
	<td>Nulla facilisis. Suspendisse commodo tincidunt nibh. Phasellus</td>
	<td>54 882</td>
	<td>5 983</td>
</tr>
<tr>
	<td>100</td>
	<td>turpis non</td>
	<td>87 731</td>
	<td>4 996</td>
</tr>
</table> </div>
    </div>
      <!--/#price-table2-->
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="../multicolor/images/home/under.png" class="img-responsive inline" alt="">
                </div>
<div class="col-sm-12">
          <div class="copyright-text text-center">
                        <p>&copy; Our Platform. All Rights Reserved.</p>
                        <p>Designed by <a href="#">TEAM168</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="../multicolor/js/jquery.js"></script>
    <script type="text/javascript" src="../multicolor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../multicolor/js/wow.min.js"></script>
    <script type="text/javascript" src="../multicolor/js/main.js"></script>   
</body>
</html>
